/** reset margin and padding **/
body, h1, h2, h3, h4, h5, h6, hr, p,
blockquote,
dl, dt, dd, ul, ol, li,
pre,
form, fieldset, legend, button, input, textarea,
th, td,
img{
  border:medium none;
  margin: 0;
  padding: 0;
}
/** default font **/
body,button, input, select, textarea {
  font: normal 100% 'Roboto',"Helvetica Neue",Helvetica,"Microsoft YaHei","STXihei",Arial,sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
em{font-style:normal;}
/** reset list **/
ul, ol { list-style: none;  margin:0;  padding:0; }
/** reset a **/
a { text-decoration: none; color:#333;}
a:hover { text-decoration: underline; color:#F40; }
/** reset img **/
img{ border:0px;}
/** reset table **/
table { border-collapse: collapse; border-spacing: 0; }
/** border box **/
div,section,nav,li{
  box-sizing: border-box;
}

/* definition */
$fontColor : #222;


*::selection{
  background-color: #ddd;
}

::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb
{
  background-color: rgba(187, 187, 187, 0.5);
}

.code,pre,code{
  font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (min-width: 481px ) {
  .nav {
    height: 50px;
  }
}

@media screen and (max-width: 480px ) {
  .nav {
    height: auto;
  }
}

.nav{
  //height: 50px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding-left: 2rem;
  position: absolute;
  top:0;
  z-index: 10;
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: rgba(255,255,255,.2);
  .logo-group{
    height:50px;
    display: inline-block;
    a{
      display: inline-block;
      height:inherit;
      img{
        height:inherit;
      }
    }
  }
  .menu-group{
    padding-left: 2rem;
    flex-grow:1;
    height:inherit;
    display: inline-block;
    ul{
      height:inherit;
      font-family: 'Contrail One',"Microsoft YaHei",sans-serif;
      font-size:1rem;
      li{
        height:inherit;
        display: inline-block;
        line-height: 50px;
        cursor: pointer;
        text-align: center;
        padding: 0px 1em;
        color: #222;
        transition: all .2s ease ;
        position: relative;
        &:before{
          transition: all .2s ease ;
          content:'';
          background-color: $fontColor;
          display: block;
          height: 0;
          width: 100%;
          position: absolute;
          left: 0;
        }
        a{
          transition: all .2s ease;
          display: inline-block;
          &:hover{
            text-decoration: none;
          }
        }
        &:hover{
          &>a{
            color: lighten($fontColor,40%);
          }
          &:before{
            background-color: lighten($fontColor,40%);
            //width: 100%;
            height:5px;
          }
        }
      }
    }
  }
}

.main-container{
  perspective: 1px;
  overflow: auto;
  height: 100vh;
  .section{
    height: 100vh;
    //background: gainsboro;
  }
  .section-main{
    transform-style: preserve-3d;
    position: relative;
    overflow: hidden;
      .parallax-bg{
        //background-image: url("/assets/img/main-bg-small.jpg");
        //background-size:cover ;
        position: absolute;
        width: 105%;
        height: 100%;
        transform: translate3D(0, 0, -1px) scale(2.5);
        transform-origin: 50% 50%;
        //transition: transform-origin 2s ease-in-out;
        background-image: url("data:image/gif;base64,R0lGODlhAwADAIAAAP///8zMzCH5BAAAAAAALAAAAAADAAMAAAIEBHIJBQA7");
      }

    }
  .section-article-list{
    overflow: auto;
    position: relative;
    background-image: url("data:image/gif;base64,R0lGODlhAwADAIAAAP///8zMzCH5BAAAAAAALAAAAAADAAMAAAIEBHIJBQA7");

    .article-list{
      transition: all .5s ease;
      transform: translateY(30px);
      opacity: .2;
      background: #f3f3f3;
      height:1000px;
      width: 70%;
      margin: 80px auto 50px auto;
      box-shadow: inset -1px 0 #fff, 2px 8px 15px 0px rgba(0,0,0,.1);
      border-radius: 4px;
    }

  }
  .section-lan{
    background: steelblue;
  }
  .section-playground{
    background: gold;
  }
  .section-markdown{
    overflow: auto;
    position: relative;
    background-image: url("data:image/gif;base64,R0lGODlhAwADAIAAAP///8zMzCH5BAAAAAAALAAAAAADAAMAAAIEBHIJBQA7");
    .article-container{
      padding: 45px;
      transition: all .5s ease;
      transform: translateY(30px);
      opacity: .2;
      background: #f3f3f3;
      width: 70%;
      margin: 80px auto 50px auto;
      box-shadow: inset -1px 0 #fff, 2px 8px 15px 0px rgba(0,0,0,.1);
      border-radius: 4px;

      @media screen and (max-width: 800px){
        width: 90%;
      }
    }

  }

}

.loader{
  height: 100vh;
  width: 100vw;
  background: whitesmoke;
  display: block;
  position: absolute;
  top:0;
  z-index: 100;
  opacity:1;
  transition: 0.3s ease;
  pointer-events: none;
  overflow: hidden;

  &:before{
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 25%;
    left:-25%;
    background-color: darkolivegreen;
    animation: loading 5s linear infinite;
  }

  @keyframes loading {
    from{ left:-25% }
    to{ left:125% }
  }

}
