/** reset margin and padding **/
body, h1, h2, h3, h4, h5, h6, hr, p,
blockquote,
dl, dt, dd, ul, ol, li,
pre,
form, fieldset, legend, button, input, textarea,
th, td,
img {
  border: medium none;
  margin: 0;
  padding: 0; }

/** default font **/
body, button, input, select, textarea {
  font: normal 100% "Helvetica Neue",Helvetica,"Microsoft YaHei","STXihei",Arial,sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

em {
  font-style: normal; }

/** reset list **/
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

/** reset a **/
a {
  text-decoration: none;
  color: #333; }

a:hover {
  text-decoration: underline;
  color: #F40; }

/** reset img **/
img {
  border: 0px; }

/** reset table **/
table {
  border-collapse: collapse;
  border-spacing: 0; }

/** border box **/
div, section, nav, li {
  box-sizing: border-box; }

/* definition */
*::selection {
  background-color: #ddd; }

::-webkit-scrollbar {
  width: 7px; }

::-webkit-scrollbar-thumb {
  background-color: #bbb; }

.nav {
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding-left: 2rem;
  position: absolute;
  top: 0;
  z-index: 10; }
  .nav .logo-group {
    height: inherit;
    display: inline-block; }
    .nav .logo-group a {
      display: inline-block;
      height: inherit; }
      .nav .logo-group a img {
        height: inherit; }
  .nav .menu-group {
    padding-left: 2rem;
    flex-grow: 1;
    height: inherit;
    display: inline-block; }
    .nav .menu-group ul {
      height: inherit; }
      .nav .menu-group ul li {
        height: inherit;
        display: inline-block;
        line-height: 50px;
        cursor: pointer;
        text-align: center;
        padding: 0px 1em;
        color: #222;
        transition: all 0.5s ease;
        position: relative; }
        .nav .menu-group ul li:before {
          transition: all 0.5s ease;
          content: '';
          background-color: #222;
          display: block;
          height: 0px;
          width: 100%;
          position: absolute;
          left: 0; }
        .nav .menu-group ul li:hover {
          color: #888888; }
          .nav .menu-group ul li:hover:before {
            background-color: #888888;
            height: 5px; }

.main-container {
  perspective: 1px;
  overflow: auto;
  height: 100vh; }
  .main-container .section {
    height: 100vh; }
  .main-container .section-main {
    transform-style: preserve-3d;
    position: relative;
    overflow: hidden; }
    .main-container .section-main .parallax-bg {
      position: absolute;
      width: 105%;
      height: 100%;
      transform: translate3D(0, 0, -1px) scale(2);
      background-image: url("data:image/gif;base64,R0lGODlhAwADAIAAAP///8zMzCH5BAAAAAAALAAAAAADAAMAAAIEBHIJBQA7"); }
  .main-container .section-second {
    background: sandybrown; }

.loader {
  height: 100vh;
  width: 100vw;
  background: whitesmoke;
  display: block;
  position: absolute;
  top: 0;
  z-index: 100;
  opacity: 1;
  transition: 0.3s ease;
  pointer-events: none;
  overflow: hidden; }
  .loader:before {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 25%;
    left: -25%;
    background-color: darkolivegreen;
    animation: loading 5s linear infinite; }
@keyframes loading {
  from {
    left: -25%; }
  to {
    left: 125%; } }

/*# sourceMappingURL=style.css.map */
