<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="icon" href="/favicon.ico">
</head>
<body>
    <div class="loader"></div>
    <nav class="nav">
        <div class="logo-group">
            <a href="#">
                <img src="/assets/img/logo.jpg" alt="">
            </a>
        </div>
        <div class="menu-group">
            <ul>
                <li>首页</li>
                <li>笔记</li>
                <li>日语</li>
                <li>游乐场</li>
            </ul>
        </div>

    </nav>
    <div class="main-container">
        <section class="section section-main">
            <div class="parallax-bg" id="particles-js">
            </div>
        </section>
        <section class="section section-second"></section>
    </div>




    <!--{{content}}-->
    <script src="/assets/components/jquery.min.js"></script>
    <script src="/assets/components/particles.min.js"></script>
    <script src="/assets/js/main.js" defer></script>
</body>
</html>